* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Sans-serif;
}

.logo {
    margin-right: 700px;
    margin-left: 80px;
    font-size: 20px;
}

header {
    display: flex;
    background-color: rgb(27, 27, 212);
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px;
}

/* .nav{
    margin-right: 200px;
} */
nav a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin: 10px;
}

#login {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: rgb(255, 255, 22);
}

#btn-1 {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}

.section {
    padding: 60px 20px;
}

.hero {
    background-color: rgb(32, 32, 220);
    color: white;
    text-align: left;
    padding: 60px 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img {
    height: 200px;
    width: 300px;
    background-color: rgb(124, 207, 255);
    margin: 40px;
}

.hero-content {
    max-width: 550px;
}

.hero h1 {
    font-size: 38px;
    margin-bottom: 1opx;
}

.hero p {
    margin-bottom: 10px;
}

#btn-2 {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}

.manage {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 60px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* line-height: 30px;; */

}

.text h1 {
    font-size: 32px;
}

.text p {
    max-width: 550px;
}

.btn-3 {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}

.work {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.work img {
    height: 300px;
}

.work h1 {
    font-size: 32px;
}

.work p {
    max-width: 550px;
}

.btn-4 {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}

.exten {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(32, 32, 220);
}

.exten-text h1 {
    font-size: 32px;
    color: white;
}

.exten-text p {
    color: white;
    max-width: 550px;
}

.btn-5 {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}

.customise {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-6 {
    height: 230px;
    width: 350px;
    background-color: rgb(124, 207, 255);
    margin: 50px;
}

.custo-text h1 {
    font-size: 32px;
}

.custo-text {
    max-width: 650px;
}

.btn-6 {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}

.head-plan h1 {
    font-size: 34px;
    display: flex;
    justify-content: center;
}

#head-p {
    display: flex;
    justify-content: center;
}

.plan {
    display: flex;
    justify-content: center;
    margin: 40px;
    gap: 30px;
}

.plan ul {
    list-style-type: none;
    padding: 0;
}

.plan ul li {
    margin: 10px 0;
}

.plan ul li::before {
    content: "✅";
    margin-right: 8px;
}

#free {
    background-color: white;
    border: 1px solid rgb(255, 207, 15);
    border-radius: 10px;
    padding: 40px;
    max-width: 335px;
    line-height: 20px;
}

#personal {
    background-color: rgb(32, 32, 220);
    border-radius: 10px;
    color: white;
    max-width: 300px;
    margin-right: 35px;
    padding: 40px;
}

.btn-7 {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}

.fre-btn {
    background-color: white;
    border: 1px solid rgb(255, 207, 15);
    border-radius: 5px;
    padding: 8px;
}

.your-work {
    background-color: rgb(32, 32, 220);
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.your-work h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.your-work p {
    max-width: 900px;
    margin: 0 auto 40px;
}

.btn-8 {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    color: white;
}